.app-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #d6f7ea;
    color: white;
    padding: 5px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    height: 6.5%;
}

.app-header nav {
    display: flex;
    width: 100%;
    opacity: 0.8;
}

.app-header nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.app-header nav ul li {
    margin-left: 20px;
}

.app-header nav ul li.left {
    margin-left: 0;
    margin-right: auto;
}

.app-header nav ul li.right {
    margin-left: 20px;
    margin-right: 0;
    
}

.app-header nav img {
    height: 40px;
    width: auto;
    display: block;
}
.app-header nav ul.centered {
    margin-left: 50%;
}
.app-header nav a.logo {
    margin-left: 12%;
}
.app-header nav ul li a {
    text-decoration: none;
    color: #9322d9;
    font-size: large;
    font-weight: bold;
    line-height: 16px;
    border-radius: 3%;
}

.app-header nav ul li a:hover {
    color: #bbb;
}