

<div class="container">
    <div class="background"></div>
    <div class="home-container">
       
        <h2>Welcome!</h2>
   
        <h2>Here you can download api documentation:</h2>
        <a href="assets/api-documentation.pdf" download>Download API documentation</a>
        
        <h2>Here you can download metrics for application:</h2>
        <a (click)="createFile()">Download application metrics</a>

        <h2>Here you can download dataset .csv file for training:</h2>
        <a href="assets/dataset.csv" download>Download dataset</a>
    </div>   
</div>